.back-image{
    background-image: url(../image/burger.png);
    max-width: 1920px;
    width: 100%;
    height: 1080px;
}
.img{
    margin-top: 40px;
    margin-left: 235px;
}
.li{
    margin-top: 40px;
    margin-right: 54px;
    font-size: 16px;
    color: white;
}
.block{
    margin-top: 117px;
    margin-left: 235px;
    max-width: 500px;
    width: 100%;
}
.party{
    max-width: 500px;
    width: 100%;
    font-size: 96px;
    margin-bottom: 118px;
}
.block-1{
    font-size: 30px;
    margin-bottom: 78px;
    max-width: 375px;
    width: 100%;
}
.section1{
    max-width: 1920px;
    width: 100%;
    height: 450px;
    margin-top: 140px;
}
.block1{
    width: 200px;
}
.section2{
    max-width: 1920px;
    width: 100%;
    background-color: #FFAA00;
    margin-bottom: 126px;
}
.image1{
    max-width: 810px;
    width: 100%;
}
.image2{
    max-width:450px;
    width: 100%;
}
.section3{
    max-width:1920px ;
    width:100% ;
    height:1848px ;
    margin-top: 126px ;
}
.blockkk{
    max-width: 500px;
    width:100% ;
}
.button1{
    margin-top: 140px;
    margin-bottom: 140px;
}
.footer{
    max-width: 1920px;
    width: 100%;
    height: 655px;
}